body {
    background-color: black;
}

@keyframes fromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes HideCanvas {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

canvas {
    position: absolute;
    animation: HideCanvas 3s ease-out;
    opacity: 0;
}
h1 {
    text-align: center;
    animation: fadeInRight 4s ease-out;
}
h2 {
    animation: fadeInRight 4s ease-out;
    color: #AA0000;
}
h3 {
    animation: fadeInRight 4s ease-out;
    color: #0000AA;
}
li {
    animation: fadeInRight 4s ease-out;
}
article {
    clear: both;
    font-family: "Marker Felt", fantasy;
    color: white;
    animation: fadeInRight 4s ease-out;
}

section {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 30%;
}

img {
  width: 100%;
}

.active {
  animation: fromRight 1s ease-out;
}

.active_alt {
  animation: fromLeft 1s ease-out;
}

footer {
  clear: both;
  font-family: "Marker Felt", fantasy;
    color: #00AA00;
    animation: fadeInRight 4s ease-out;
}

.copyright {
    color: white;
    text-align: center;
}