body {
    background-color: black;
}

@keyframes fromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes HideCanvas {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

canvas {
    position: absolute;
    animation: HideCanvas 3s ease-out;
    color: white;
    font-family: "Marker Felt", fantasy;
    opacity: 0;
}
h1 {
    text-align: center;
    animation: fadeInRight 4s ease-out;
}
h2 {
    animation: fadeInRight 4s ease-out;
}
article {
    font-family: "Marker Felt", fantasy;
    color: white;
    animation: fadeInRight 4s ease-out;
}

img {
  position: relative;
  width: 100%;
}

.active {
  animation: fromRight 1s ease-out;
}

.active_alt {
  animation: fromLeft 1s ease-out;
}

nav {
    font-family: "Marker Felt", fantasy;
    color: #AA0000;
    animation: fadeInRight 4s ease-out;
}

.copyright {
    color: white;
    text-align: center;
}