body {
    text-shadow: 5px 3px 3px #000000;
}

header {
    border-radius: 10px;
    width: 100%;
    position: sticky;
    top: 1%;
    background-color: #353535;
    text-align: center;
    color: #FFFFFF;
}

#head_info {
    width: 90%;
}

#Menu {
    background-color: #353535;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    right: 1%;
    left: 100%;
    position: fixed;
}

#BtnMenu {
    position: absolute;
    right: 1%;
    top: 10%;
    width: 10%;
    height: 80%;
}

.MenuAnimation {
    animation: openmenu 0.3s forwards;
}

@keyframes openmenu {
    0% {
        left: 100%;
    }

    100% {
        left: 69%;
    }
}

.MenuAnimationBack {
    animation: closemenu 0.3s forwards;
}

@keyframes closemenu {
    0% {
        left: 69%;
    }

    100% {
        left: 100%;
    }
}

.LineAnimation1 {
    animation: moveline1 0.3s forwards;
}

@keyframes moveline1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.LineAnimationBack1 {
    animation: movelineback1 0.3s forwards;
}

@keyframes movelineback1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.LineAnimation2 {
    transform-origin: center;
    animation: moveline2 0.3s forwards;
}

@keyframes moveline2 {
    0% {
        transform: rotate(0deg) translate(0%, 0%);
    }

    100% {
        transform: rotate(45deg) translate(0%, 30%);
    }
}

.LineAnimationBack2 {
    transform-origin: center;
    animation: movelineback2 0.3s forwards;
}

@keyframes movelineback2 {
    0% {
        transform: rotate(45deg) translate(0%, 30%);
    }

    100% {
        transform: rotate(0deg) translate(0%, 0%);
    }
}

.LineAnimation3 {
    transform-origin: center;
    animation: moveline3 0.3s forwards;
}

@keyframes moveline3 {
    0% {
        transform: rotate(0deg) translate(0%, 0%);
    }

    100% {
        transform: rotate(-45deg) translate(0%, -30%);
    }
}

.LineAnimationBack3 {
    transform-origin: center;
    animation: movelineback3 0.3s forwards;
}

@keyframes movelineback3 {
    0% {
        transform: rotate(-45deg) translate(0%, -30%);
    }

    100% {
        transform: rotate(0deg) translate(0%, 0%);
    }
}

.info {
    color: #FFFFFF;
    box-sizing: content-box;
    width: 100%;
}

p {
    color: #FFFFFF;
    font-size: larger;
}

.head {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

.Me {
    display: inline;
}

.Other {
    color: #FFFFFF;
}

a:link {
    color: rgb(95, 63, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

a:visited {
    color: rgb(255, 93, 93);
    text-decoration: none;
}